*.idea*
.DS_Store
.DS_Store?
*.swp
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.exe
*.out
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.a
*.sqlite3
*.pyc
*__pycache__*
*.txt*
*.log
*.ini
*.csv
